[Unit]
Description=Humidity monitoring
BindsTo=moonshine.target

[Service]
# Requires=producer.service
# After=producer.service
ExecStart=/home/pi/Projects/moonshine_3/.venv/bin/python3 /home/pi/Projects/moonshine_3/service_alarm.py
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/Projects/moonshine_3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=moonshine.target
