[Unit]
Description=Listenning pressed buttons
BindsTo=moonshine.target

[Service]
# After=producer.service
ExecStart=/home/pi/Projects/moonshine_3/.venv/bin/python3 /home/pi/Projects/moonshine_3/service_button_listener.py
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/Projects/moonshine_3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=moonshine.target
