[Unit]
Description=Display data fetcher

[Service]
ExecStart=/home/pi/Projects/moonshine_3/.venv/bin/python3 /home/pi/Projects/moonshine_3/service_display.py
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/Projects/moonshine_3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
