[Unit]
Description=Services that are related to the moonshine process
Before=producer.service alarm.service buttons.service display.service

[Install]
WantedBy=multi-user.target
