[Unit]
Description=Sensor and relay states monitor
BindsTo=moonshine.target

[Service]
ExecStart=/home/pi/Projects/moonshine_3/.venv/bin/python3 /home/pi/Projects/moonshine_3/service_producer.py
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/Projects/moonshine_3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=moonshine.target
